
.botaop {
    font-size: 1.5em;
    background: #F90;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    
}
    * {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0;
}

/* para garantir que estes elementos ocuparão toda a tela */
body, html {
	width: 100%;
	height: 100%;
	font-family: Arial, Tahoma, sans-serif;
}

#fundo-externo {
	overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
	width: 100%;
	height: 100%;
	position: relative; /* criamos um contexto para posicionamento */
}

#fundo img {
	width: 100%;
/* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
	position: absolute;
}

#site {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 560px;
	padding: 50px;
	margin-left: -300px; /* por causa do posicionamento absoluto temos que usar margem negativa para centralizar o site */
	background: #FFF; /* fundo branco para navegadores que não suportam rgba */
	background: rgba(255,255,255,0.8); /* fundo branco com um pouco de transparência */
}
